/* IMPORT CSS FILES */
@import url(reset.css);

/*--------------------------------------------------------*/
/*	Global Misc
/*--------------------------------------------------------*/



body{margin: 0; padding: 0; font-family:Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, sans-serif; background:#1a1919}
.fclear {clear:both; height:0; line-height:0}
a {text-decoration:none}
.fclear {clear:both; line-height:0; height:0}

#stretch-bg {width: 100%; position: fixed; left: 0px; top: 0px; z-index: -1}
#stretch-bg .grid {width:100%; height:100%; background:url(../img/grid.png); position:absolute}
#stretch-bg img {width:100%; height:100%;}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1040px) {

}
@media screen and (max-width: 800px) {
.slides-container {height:360px; left:50%; margin-left:-400px; background-position:380px center !important}
.slides-container img {width:800px}
}
@media screen and (max-width: 768px) {
	#left {
		margin-top:-274px !important;
		margin-left:-72px !important;
	}

	#middle {
		margin-top:-144px !important;
		margin-left:-72px !important;
	}

	#right {
		margin-top: -14px !important;
		margin-left: -72px !important;
	}

	#far-right {
		margin-top: 116px !important;
		margin-left: -72px !important;
	}
}
@media screen and (max-width: 360px) {

}
