/* IMPORT CSS FILES */
@import url(reset.css);

/*--------------------------------------------------------*/
/*	Global Misc
/*--------------------------------------------------------*/

body{
	margin: 0;
	padding: 0;
	font-family:Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, sans-serif;
	background:#1a1919;
	text-align:center;
}
.fclear {
	clear:both;
	height:0;
	line-height:0
}
a {text-decoration:none}
.copy {
	text-align:center;
	font-size:10px;
	color:#888;font-weight:300;
	text-transform:uppercase;
	font-family:Arial, sans-serif
}
div.home-info {
	position: relative;
}
div.home-info > * {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}
p.copy-hours {
	background-color: rgba(255, 255, 255, 0.53);
	padding: 20px;
}
p.copy-letter {
	background-color: rgba(255, 255, 255, 0.53);
	padding: 20px;
	text-align: left;
}
a.button {
	background-color: red;
	color: white;
	padding: 1em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
  opacity: .7;
	font-size: 20px;
}

#stretch-bg {width: 100%; position: fixed; left: 0px; top: 0px; z-index: -1}
#stretch-bg .grid {width:100%; height:100%; background:url(../img/grid.png); position:absolute}
#stretch-bg img {width:100%; height:100%;}

#far-right, #right, #middle, #left {
	display:block;
	position:absolute;
	z-index:9999;
	text-align:center;
	left:50%;
	top:50%;
	opacity:0.7;
}
#left {background:url(../img/circle-prestonhollow.png) no-repeat;}
#middle {background:url(../img/circle-uptown.png) no-repeat;}
#right {background:url(../img/circle-southlake.png) no-repeat;}
#far-right {background:url(../img/circle-frisco.png) no-repeat;}

#far-right:hover, #right:hover, #middle:hover, #left:hover {opacity:0.9}

#far-right a, #right a, #middle a, #left a {display:block; text-indent:-99999em;}

#far-right .location, #right .location, #middle .location, #left .location {
	display:none;
	opacity:0;
	font-size:11px;
	color:#1a1919;
	text-transform:uppercase;
	font-family:Arial, sans-serif;
	background:url(../img/bubble.png) no-repeat top;
	width:300px;
	padding:11px 0 16px 0;
	line-height:16px;
	postion:absolute;
	margin-top:-220px;
	margin-left:-80px
}

#right a#now-open {
	color: #fd0;
	display: block;
	font-size: 12px;
	letter-spacing: 0.25em;
	line-height: 1;
	opacity: 1;
	padding-top: 30px;
	position: absolute;
	text-align: center;
	text-indent: 0;
	text-transform: uppercase;
	top: 0;
	width: 143px;
	z-index: 10000;
}

div.home-info {height: 1450px;}
a.button {bottom: 855px;}
p.copy-hours {bottom: 570px;}
p.copy-letter {bottom: -160px;}
p.copy {bottom: 10px;}
div.home-info > * {width: 225px;}

#left {margin-top:-235px;}
#middle {margin-top:-140px;}
#right {margin-top:-45px;}
#far-right {margin-top:55px;}
#far-right, #right, #middle, #left {margin-left:-65px; line-height:130px; width:130px; height:130px; background-size: 130px 130px;}

@media screen and (min-width: 350px) {
	div.home-info {height: 1500px;}

	#left {margin-top:-312px;}
	#middle {margin-top:-220px;}
	#right {margin-top:-128px;}
	#far-right {margin-top:-25px;}

	@media screen and (min-height: 700px) {
		div.home-info {height: 1550px;}
	}
}
@media screen and (min-width: 400px) {
	div.home-info {height: 1540px;}
	div.home-info > * {width: 350;}
}
@media screen and (min-width: 768px) {
	div.home-info {height: 1200px;}
	p.copy-hours {bottom: 330px;}
	p.copy-letter {bottom: -80px;}
	p.copy {bottom: 10px;}
	div.home-info > * {width: 500px;}
	a.button {bottom: 525px; padding: 2em 2.5em; width: 350px;}

	#left {margin-left:-267px;}
	#middle {margin-left:-140px;}
	#right {margin-left:-13px;}
	#far-right {margin-left:114px;}
	#far-right, #right, #middle, #left {margin-top:-72px; line-height:143px; width:143px; height:143px; background-size: auto;}

	@media screen and (orientation: portrait) {
		div.home-info {height: 1330px;}
		@media screen and (min-height: 1100px) {
			div.home-info {height: 1500px;}
		}
	}
}
@media screen and (min-width: 800px) {
	.slides-container {height:360px; left:50%; margin-left:-400px; background-position:380px center !important}
	.slides-container img {width:800px}
}
@media screen and (min-width: 1040px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
	div.home-info {height: 1290px;}
}
