/* IMPORT CSS FILES */
@import url(reset.css);

/*--------------------------------------------------------*/
/*	Global Misc
/*--------------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #1a1919;
  text-align: center;
}
.fclear {
  clear: both;
  height: 0;
  line-height: 0;
}
a {
  text-decoration: none;
}
.copy {
  text-align: center;
  font-size: 10px;
  color: #888;
  font-weight: 300;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
}
div.home-info {
  position: relative;
}
div.home-info > * {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
p.copy-hours {
  background-color: rgba(255, 255, 255, 0.53);
  padding: 20px;
}
p.copy-letter,
p.copy-letter-closure {
  background-color: rgba(255, 255, 255, 0.53);
  padding: 20px;
  text-align: left;
}
a.button {
  background-color: red;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.7;
  font-size: 20px;
}

#stretch-bg {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
}
#stretch-bg .grid {
  width: 100%;
  height: 100%;
  background: url(../img/grid.png);
  position: absolute;
}
#stretch-bg img {
  width: 100%;
  height: 100%;
}

#far-right,
#right,
#middle,
#left {
  display: block;
  position: absolute;
  z-index: 9999;
  text-align: center;
  left: 50%;
  top: 50%;
  opacity: 0.7;
}
#left {
  background: url(../img/circle-prestonhollow.png) no-repeat;
}
#middle {
  background: url(../img/circle-uptown.png) no-repeat;
}
#right {
  background: url(../img/circle-frisco.png) no-repeat;
}
#far-right {
  background: url(../img/circle-mandarin-order-now.png) no-repeat;
}

#far-right:hover,
#right:hover,
#middle:hover,
#left:hover {
  opacity: 0.9;
}

#far-right a,
#right a,
#middle a,
#left a {
  display: block;
  text-indent: -99999em;
}

#far-right .location,
#right .location,
#middle .location,
#left .location {
  display: none;
  opacity: 0;
  font-size: 11px;
  color: #1a1919;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  background: url(../img/bubble.png) no-repeat top;
  width: 300px;
  padding: 11px 0 16px 0;
  line-height: 16px;
  position: absolute;
  margin-top: -220px;
  margin-left: -80px;
}

#right a#now-open {
  color: #fd0;
  display: block;
  font-size: 12px;
  letter-spacing: 0.25em;
  line-height: 1;
  opacity: 1;
  padding-top: 30px;
  position: absolute;
  text-align: center;
  text-indent: 0;
  text-transform: uppercase;
  top: 0;
  width: 143px;
  z-index: 10000;
}

div.home-info {
  height: 1200px;
}
a.button {
  bottom: 1075px;
}
p.copy-hours {
  bottom: 300px;
}
p.copy-letter-closure {
  bottom: 325px;
}
p.copy-letter {
  bottom: -140px;
}
p.copy {
  bottom: 10px;
}
div.home-info > * {
  width: 100%;
}

:root {
  --left-circle-mobile-top: -220px;
  --left-circle-mobile-top-350-up: calc(var(--left-circle-mobile-top) - 70px);
}

#left {
  margin-top: var(--left-circle-mobile-top);
}
#middle {
  margin-top: calc(var(--left-circle-mobile-top) + 105px);
}
#right {
  margin-top: calc(var(--left-circle-mobile-top) + 210px);
}
#far-right {
  margin-top: calc(var(--left-circle-mobile-top) + 315px);
}
#far-right,
#right,
#middle,
#left {
  margin-left: -65px;
  line-height: 130px;
  width: 130px;
  height: 130px;
  background-size: 130px 130px;
}

@media screen and (min-width: 350px) {
  div.home-info {
    height: 1250px;
  }

  #left {
    margin-top: var(--left-circle-mobile-top-350-up);
  }
  #middle {
    margin-top: calc(var(--left-circle-mobile-top-350-up) + 105px);
  }
  #right {
    margin-top: calc(var(--left-circle-mobile-top-350-up) + 210px);
  }
  #far-right {
    margin-top: calc(var(--left-circle-mobile-top-350-up) + 315px);
  }

  p.copy-letter {
    bottom: -115px;
  }

  /*@media screen and (min-height: 700px) {
		div.home-info {height: 1000px;}
	}*/
}
@media screen and (min-width: 400px) {
  /*div.home-info {height: 1540px;}*/
  div.home-info > * {
    width: 350px;
  }

  div.home-info {
    height: 1400px;
  }
}
@media screen and (min-width: 768px) {
  div.home-info {
    height: 1400px;
  }
  p.copy-hours {
    bottom: 260px;
  }
  p.copy-letter-closure {
    bottom: 280px;
  }
  p.copy-letter {
    bottom: -80px;
  }
  p.copy {
    bottom: 20px;
  }
  div.home-info > * {
    width: 500px;
  }
  a.button {
    bottom: 950px;
    padding: 2em 2.5em;
    width: 350px;
  }

  #left {
    margin-left: -256px;
  }
  #middle {
    margin-left: -129px;
  }
  #right {
    margin-left: -2px;
  }
  #far-right {
    margin-left: 125px;
  }

  #far-right,
  #right,
  #middle,
  #left {
    margin-top: -72px;
    line-height: 143px;
    width: 143px;
    height: 143px;
    background-size: auto;
  }

  /*@media screen and (orientation: portrait) {
		div.home-info {height: 1450px;}
		@media screen and (min-height: 1100px) {
			div.home-info {height: 1500px;}
		}
	}*/
}
@media screen and (min-width: 800px) {
  .slides-container {
    height: 360px;
    left: 50%;
    margin-left: -400px;
    background-position: 380px center !important;
  }
  .slides-container img {
    width: 800px;
  }
}
@media screen and (min-width: 1040px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
